* {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.25em;
  letter-spacing: 0.05em;
}

body {
  background-color: lightgrey;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: 1.5em;
}

.challenge-list {
  width: 100%;
  list-style: none;
  padding-left: 0;
}

.api-image{
  margin-bottom: 20px;
}

.header {
  background-image: url(../public/assets/space-background.svg);
  background-repeat: no-repeat;
  height: 100px;
  background-size: cover;
  color: white;
}

.header__title {
  margin: 0;
  padding-top: 10px;
  font-size: 1.4em;
}

.big-button {
  display: block;
  font-size: 2.5em;
  border: 1px;
  background-color: #1F4191;
  border-radius: 50px;
  width: 90%;
  color: white;
  padding-top: 10px;
  margin: 0 auto;
}

.start-button {
  display: block;
  font-size: 2.5em;
  border: 1px;
  background-color: #1F4191;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  color: white;
  margin: 80px auto 100px auto;
}

.page-link {
  text-decoration: none;
}

.root {
  max-width: 768px;
  height: 100vh;
}

.text-input {
  background-color: white;
  width: 75%;
  height: 25px;
  font-size: 1em;
  margin-bottom: 30px;
  text-align: center;
  padding-top: 4px;
}

.main-title {
  margin-top: 0px;
  padding-top: 30px;
  font-size: 4em;
}

.float-left {
  float: left;
}

.icons {
  margin: 2px;
}

.label {
  display: block;
}

.list-container {
  display: block;
  margin: 0 auto;
}

.name-input {
  margin-top: 150px;
}

.links

@media (min-width: 700px) {
  .root {
    width: 414px;
    height: 736px;
    box-shadow: 0 0 30px grey;
    margin: 50px auto;
  }
}
